<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node JS</title>
    <!-- <link rel="stylesheet" href="style/style.css" type="text/css"> -->
    <style>
        .main-container {
            background: #0000009c;
            height: 1000px;
        }

        .navbar {
            margin-left: 30%;
        }

        .page-containent {
            margin-left: 33%;
        }

        a:-webkit-any-link {
            color: #2196F3;
            cursor: pointer;
            text-decoration: auto;
            padding: 8px;
        }
        hr{
            width: 90%;
        }
    </style>
</head>

<body>
    <!-- <script src="script/script.js"></script> -->
    <div class="main-container">
        <div class="navbar">
            <a href="home"><b>Home</b></a>
            <a href="products"><b>Products</b></a>
            <a href="about"><b>About</b></a>
            <a href="contact"><b>Contact</b></a>
        </div>
        <hr>
        <div class="page-containent">
            <h3>{{pageContainent}}</h3>
        </div>
    </div>
</body>

</html>